
#jumb-promo{
  background-image: url(../img/ban.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding:40px 40px ;
  height:40rem;
  margin:auto 60px;
  border:solid;
  border-width: 1px;
  border-color: white;
  position: relative;
}
.btn{
  height: auto;
  margin: 50px;
}
#promo{
  padding-top:50px;
  height:45rem;
}
body{
  background-image:url(../img/bg.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family: 'Proza Libre', sans-serif;
}
.bg-image{
  filter: blur(3px);
  border-color: white;
}
.navi-bar{
  background-color:#96c659;
}
.contact-div{
  height:5rem;
  text-size:1rem;
  font-family: 'Proza Libre', sans-serif;
  text-align:center;
  background-color:#91bd3a;
  colour:black;
}
h1{
  font-size: 4rem;
}
p{
  font-size: 1.2rem;
}
.text-div {

  color:black;

  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 50px;
  text-align: center;

}
@media (min-width:1080px) and (max-width:1425px){
  #jumb-promo{
    background-image: url(../img/ban.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding:40px 40px ;
    height:30rem;
    margin:auto 60px;

  }
  .btn{
    height: auto;
    margin: 25px;
  }
#promo{
  padding-top:20px;
  height:35rem;
}
.contact-div
{
  height:3rem;

}
body{
  background-image:url(../img/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  font-family: 'Proza Libre', sans-serif;
}
h1{
  font-size: 3rem;
  text-align:center;
}
p{
  font-size: 1.3rem;
  text-align: center
}
.text-div {


  color:black;
  text-align:center;
  border: none;

  width: 50%;


}
@media (min-width:350px) and (max-width:1080px){
  #jumb-promo{
  background-image: url(../img/ban.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding:inherit;
  height:inherit;
  margin:auto 40px;
  text-align: center;

}
.btn{
  height: auto;
  margin: 15px;
}
body{
  background-image:url(../img/bg.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
  font-family: 'Proza Libre', sans-serif;
}
#promo{
  position:static;
  height:35rem;
}
.contact-div{
  height:3rem;
  position :static;

}

h1{
  font-size: 3rem;
  text-align: center;
}
p{
  font-size: 1.3rem;
  text-align: center;
}
.text-div {


  color:black;
  text-align:center;
  border: none;
  width: 60%;
  margin-left: auto;
  margin-top: 55%;
}
}
